﻿
@{
	ViewData["Title"] = "Index";
}

<h1>Cambios pendientes de autorización</h1>

@model AuthorizationModel


@if (Model.ActivityList.Count != 0)
{
	<h1>Actividades pendientes de autorización</h1>
	<table class="table">
		<tr>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().RequestID)</th>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().ID)</th>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().Name)</th>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().BussinesUnitName)</th>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().ActionName)</th>
			<th>@Html.DisplayNameFor(model => model.ActivityList.First().RequestDate)</th>
			<th>Options</th>
		</tr>

		@foreach (var item in Model.ActivityList)
		{
			<tr>
				<td>@item.RequestID</td>
				<td>@item.ID</td>
				<td>@item.Name</td>
				<td>@item.BussinesUnitName</td>
				<td>@item.ActionName</td>
				<td>@item.RequestDate</td>
				<td>
					@Html.ActionLink("Autorizar", "Aproove", "Auth", new { ID = item.RequestID })
					@Html.Raw(" | ")
					@Html.ActionLink("Rechazar", "Reject", "Auth", new { ID = item.RequestID })
				</td>
			</tr>
		}
	</table>
	<br />
}

