﻿@model TextXcaretWebApp.Models.ActivityViewModel

@{
    ViewData["Title"] = "Agregar actividad";
}

	<h1>Agregar nueva actividad para @Model.BussinesUnitName </h1>

<hr />


<div class="row" >
    <div class="col-md-4">
		<form asp-action="Create">
			<input type="hidden" asp-for="BussinesUnitID" id="hidenBussinesUnitID" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" required />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" required />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="GeoLocLat" class="control-label"></label>
				<input asp-for="GeoLocLat" class="form-control" required />
				<span asp-validation-for="GeoLocLat" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="GeoLocLong" class="control-label"></label>
				<input asp-for="GeoLocLong" class="form-control" required />
				<span asp-validation-for="GeoLocLong" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Categoría</label>
				<select asp-for="CategoryId" name="Category" id="ddlCategory" class="form-control" onchange="setCategory()" required>
					<option value="0">Selecciona una opción</option>
					@foreach (var item in Model.CategoryList)
					{
						<option value="@item.ID">@item.Name</option>
					}
				</select>
				<input type="hidden" asp-for="CategoryId" id="hidenCategoryId" />
			</div>

			<div class="form-group">
				<label>Subcategoría</label>
				<select asp-for="SubCatID" name="Category" id="ddlSubcategory" class="form-control" onchange="setSubcategory()">
					<option value="0">Selecciona una opción</option>
				</select>
				<input type="hidden" asp-for="SubCatID" id="hidenSubcategoryId" />
			</div>
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/ActivityCreate.js"></script>