﻿@model TextXcaretWebApp.Models.ActivityModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>View</h1>

<h4>ActivityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly/>
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoLocLat" class="control-label"></label>
                <input asp-for="GeoLocLat" class="form-control" readonly/>
                <span asp-validation-for="GeoLocLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoLocLong" class="control-label"></label>
                <input asp-for="GeoLocLong" class="form-control" readonly/>
                <span asp-validation-for="GeoLocLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" readonly/>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCatName" class="control-label"></label>
                <input asp-for="SubCatName" class="form-control" readonly/>
                <span asp-validation-for="SubCatName" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

