﻿@model List<ActivityModel>
@{
	ViewData["Title"] = "Index";
}

<h1>Index for Activities</h1>

<h3><a asp-action="Create" class="btn btn-sm btn-secondary">Agregar</a></h3>
<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.First().ID)</th>
		<th>@Html.DisplayNameFor(model => model.First().Name)</th>
		<th>@Html.DisplayNameFor(model => model.First().CategoryName)</th>
		<th>@Html.DisplayNameFor(model => model.First().SubCatName)</th>
		<th>@Html.DisplayNameFor(model => model.First().Status)</th>
		<th>Options</th>
	</tr>

	@foreach (var item in Model)
	{
<tr>
	<td>@item.ID</td>
	<td>@item.Name</td>
	<td>@item.CategoryName</td>
	<td>@item.SubCatName</td>
	<td>@item.Status</td>
	<td>
		@Html.ActionLink("Edit", "Edit", new { ID = item.ID })
		@Html.Raw(" | ")
		@Html.ActionLink("Details", "Details", new { ID = item.ID })
		@Html.Raw(" | ")
		@Html.ActionLink("Delete", "Delete", new { ID = item.ID })
	</td>
</tr>
	}

</table>
<br />