﻿@{
	ViewData["Title"] = "Home Page";
}

@model BussinessUnitModel

<h1>Actividades de @Model.Name</h1>

<h3>
	@Html.ActionLink("Agregar actividad", "Create", "Activities", new { bussinessUnitId = Model.ID, bussinessUnitName = Model.Name }, new { Class = "btn btn-sm btn-secondary"})
</h3>
<table class="table">
	<tr>
		<th>@Html.DisplayNameFor(model => model.ActivityList.First().ID)</th>
		<th>@Html.DisplayNameFor(model => model.ActivityList.First().Name)</th>
		<th>@Html.DisplayNameFor(model => model.ActivityList.First().CategoryName)</th>
		<th>@Html.DisplayNameFor(model => model.ActivityList.First().SubCatName)</th>
		<th>@Html.DisplayNameFor(model => model.ActivityList.First().Status)</th>
		<th>Options</th>
	</tr>

	@foreach (var item in Model.ActivityList)
	{
		<tr>
			<td>@item.ID</td>
			<td>@item.Name</td>
			<td>@item.CategoryName</td>
			<td>@item.SubCatName</td>
			<td>@item.Status</td>
			<td>
				@Html.ActionLink("Editar", "Edit", "Activities", new { ID = item.ID, bussinessUnitId = Model.ID, bussinessUnitName = Model.Name })
				@Html.Raw(" | ")
				@Html.ActionLink("Detalles", "Details", "Activities", new { ID = item.ID })
				@Html.Raw(" | ")
				@Html.ActionLink("Borrar", "Delete", "Activities", new { ID = item.ID })
			</td>
		</tr>
	}
</table>
<br />

